@model SalonsVM
<div class="form-container">
    <form id="frmCreateSaloons">
        <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
        @Html.AntiForgeryToken()

        <div class="form-group">
            <input asp-for="Name" class="form-control" placeholder="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            @Html.DropDownListFor(x => x.CountryId, Model.Country as SelectList, "Select country", new { @class = "form-control" })
            @Html.ValidationMessageFor(s => s.Country, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            @Html.DropDownListFor(x => x.CityId, new SelectList(" "), "Select a city", new { @class = "form-control" })
            @Html.ValidationMessageFor(s => s.City, null, new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <input asp-for="OpeningTime" class="form-control" placeholder="Opening time" />
            <span asp-validation-for="OpeningTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="ClosingTime" class="form-control" placeholder="Closing time" />
            <span asp-validation-for="ClosingTime" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Phone" class="form-control" placeholder="Phone" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Mobile" class="form-control" placeholder="Mobile" />
            <span asp-validation-for="Mobile" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Address" class="form-control" placeholder="Address" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-sm btn-primary" id="btnCreateSaloon" data-save="modal">Save</button>
        </div>
    </form>
</div>

    <script>
        $(document).ready(function () {

            $("#CountryId").change(function () {
                $.get("/SaloonOwner/Salons/GetCities", { CountryId: $(this).val() },
                    function (data) {
                        $("#CityId").empty();
                        $.each(data, function (key, value) {

                            console.log(data)
                            $("#CityId").append("<option value='" + value.cityId + "'>" + value.name + "</option>")
                        });
                    });
            });
        });



        $("#btnCreateSaloon").click(function (event) {
            event.preventDefault();

            var actionUrl = "/SaloonOwner/Salons/Create";
            var formData = $("#frmCreateSaloons").serialize();

            $.ajax({
                type: "POST",
                url: actionUrl,
                data: formData,
                success: function () {
                    $("#dataBody").load("/SaloonOwner/Salons/LoadDataTable");
                },
                error: function (data) {
                    $(".form-container").html(data.responseText);

                }
            });
        });
    </script>


