@model List<SalonAplikacija.Data.Models.Salon>
@{
    ViewData["Title"] = "ListOfSaloons";
    Layout = "~/Areas/Admin/Views/_Layout.cshtml";
}

<div class="row" id="dataDiv">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <a class="btn btn-success" asp-area="Admin" asp-controller="Home" asp-action="Index">
                            <span>Back to home </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="panel-body" id="dataBody">
                <table id="dataTable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Country</th>
                            <th>City</th>
                            <th>Opening time</th>
                            <th>Closing time</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Mobile</th>
                            <th>Address</th>
                        </tr>
                    </thead>
                    <tbody id="clientsData">
                        @foreach (var salon in Model)
                        {
                            <tr>
                                <td>@salon.Name</td>
                                <td>@salon.Country.Name</td>
                                <td>@salon.City.Name</td>
                                <td>@salon.OpeningTime</td>
                                <td>@salon.ClosingTime</td>
                                <td>@salon.Email</td>
                                <td>@salon.Phone</td>
                                <td>@salon.Mobile</td>
                                <td>@salon.Address</td>
                            </tr>
                        }
                        
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

