@model List<SalonAplikacija.Data.Models.ClientType>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/SaloonOwner/Views/_Layout.cshtml";
}

<div class="row" id="dataDiv">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" id="btnCreate" data-toggle="modal" data-target="#myModal" onclick="CreateClientType()">
                            <span>Create</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel-body" id="dataBody">
                <table id="dataTable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Discount</th>
                            <th>Option</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody id="clientsData">
                        @foreach (var clientType in Model)
                        {
                            <tr>
                                <td>@clientType.Name</td>
                                <td>@clientType.Description</td>
                                <td>@clientType.Discount</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal" onclick="UpdateClientType(@clientType.ClientTypeId)">
                                        Edit
                                    </button>
                                </td>
                                <td><button class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal" onclick="RemoveClientType(@clientType.ClientTypeId)">Remove</button></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>


@section scripts{

    <script>
        var CreateClientType = function () {
            $(".modal-body").load("/SaloonOwner/ClientTypeOwner/Create", function () {
                $("#myModal").show();
            });
        }

        var UpdateClientType = function (id) {
            $(".modal-body").load("/SaloonOwner/ClientTypeOwner/Edit/"+id, function () {
                $("#myModal").show();
            });
        }

        var RemoveClientType = function (id) {
            $(".modal-body").load("/SaloonOwner/ClientTypeOwner/Delete/" + id, function () {
                $("#myModal").show();
            });
        }
    </script>

}

