@model ServicesUpdateVM
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


@inject IAjaxFlashMessage AjaxFlashMessage

<div class="form-container">
    <form id="frmUpdateService">
        <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
        @AjaxFlashMessage.Display()
        @Html.AntiForgeryToken()

        <div class="form-group">
            <input asp-for="Name" class="form-control" placeholder="Name" value="@Model.Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input asp-for="Price" class="form-control" placeholder="Price" value="@Model.Price"/>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <button type="button" class="btn btn-sm btn-primary" id="btnUpdateService" data-save="modal">Save</button>
        </div>
    </form>
</div>

<script>

    $("#btnUpdateService").click(function (event) {
        event.preventDefault();

        var actionUrl = "/SaloonOwner/Services/Update";
        var formData = $("#frmUpdateService").serialize();

        $.ajax({
            type: "POST",
            url: actionUrl,
            data: formData,
            success: function () {
                $("#dataBody").load("/SaloonOwner/Services/LoadDataTable");
            },
            error: function (data) {
                $(".form-container").html(data.responseText);
            }
        });
    });
</script>