@model HomeInfoVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/SaloonOwner/Views/_Layout.cshtml";
}
@inject IAjaxFlashMessage AjaxFlashMessage


<div class="panel panel-headline">
    <div class="panel-heading">
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <div class="metric">
                    <span class="icon"><i class="fas fa-child"></i></span>
                    <p>
                        <span class="number">@Model.ClientsCount</span>
                        <span class="title">Clients</span>
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="metric">
                    <span class="icon"><i class="far fa-calendar-check"></i></span>
                    <p>
                        <span class="number">@Model.AppointmentsCount</span>
                        <span class="title">Appointments</span>
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="metric">
                    <span class="icon"><i class="fas fa-cut"></i></span>
                    <p>
                        <span class="number">@Model.ServicesCount</span>
                        <span class="title">Services</span>
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="metric">
                    <span class="icon"><i class="far fa-address-card"></i></span>
                    <p>
                        <span class="number">@Model.SpecialClientsCount</span>
                        <span class="title">Special clients</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

@*<div id="loading-div-background" style="display:none">
        <div id="loading-div" class="ui-corner-all">
            <div id="loadingbar"><i class="fa fa-spinner fa-spin fa-3x fa-fw"></i></div>
            <h2 style="color:gray;font-weight:normal;">Please wait....</h2>
        </div>
    </div>*@

<div class="row">
    <div class="col-md-6">
        <!-- RECENT PURCHASES -->
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Recent appointments</h3>
                <div class="right">
                    <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                    <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                </div>
            </div>
            <div class="panel-body no-padding" id="appointmentsPanel">

            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-md-6"><span class="panel-note"><i class="fa fa-clock-o"></i> Last 5 </span></div>
                    <div class="col-md-6 text-right"><a href="#" class="btn btn-primary">View All Purchases</a></div>
                </div>
            </div>
        </div>
        <!-- END RECENT PURCHASES -->
    </div>
    <div class="col-md-6">
        <!-- TIMELINE -->
        <div class="panel">
            
            <a href="#" onclick="GetMonthlyEarnings()" class="text-primary text-center"><h3>Get monthly income</h3></a>
            <div class="panel-heading">
                <h3 class="panel-title">Income</h3>
                <div class="right">
                    <button type="button" class="btn-toggle-collapse"><i class="lnr lnr-chevron-up"></i></button>
                    <button type="button" class="btn-remove"><i class="lnr lnr-cross"></i></button>
                </div>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="metric">
                            <span class="icon"><i class="fas fa-money-bill-alt"></i></span>
                            <p>
                                <span class="number">Earned: @Model.CurrentMonthIncome</span>
                                <span class="title">Month: @DateTime.Now.Month.ToString()</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="metric">
                            <span class="icon"><i class="fas fa-money-bill-alt"></i></span>
                            <p>
                                <span class="number">Earned: @Model.CurrentYearIncome</span>
                                <span class="title">Year: @DateTime.Now.Year.ToString()</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END TIMELINE -->
    </div>
</div>

@section scripts{
    <script>
        $(function () {
            $("#appointmentsPanel").load("/SaloonOwner/Home/GetLastAppointments");
        });


        var GetMonthlyEarnings = function () {
            $(".modal-body").load("/SaloonOwner/Home/GetEarningsByMonth", function () {
                $("#myModal").modal("show");
            });
        };
    </script>
}

