@model ClientCreateVM

@inject IAjaxFlashMessage AjaxFlashMessage

<div class="form-container">

    <form id="frmCreateClient">
        <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
        @AjaxFlashMessage.Display()
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.DropDownListFor(x => x.ClientTypeId, Model.ClientTypes as SelectList, "Select a type", new { @class = "form-control" })
            <span asp-validation-for="ClientTypeId" class="text-danger"></span>
        </div>
        <div class="form-group">
            @Html.DropDownListFor(x => x.CountryId, Model.Countries as SelectList, "Select a country", new { @class = "form-control" })
            <span asp-validation-for="CountryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            @Html.DropDownListFor(x => x.CityId, new SelectList(""), "Select a city", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <input asp-for="FirstName" class="form-control" placeholder="First name" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="LastName" class="form-control" placeholder="Last name" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Email" class="form-control" placeholder="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Address" class="form-control" placeholder="Address" />
            <span asp-validation-for="Address" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Phone" class="form-control" placeholder="Phone" />
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-sm btn-primary" id="btnCreateClient" data-save="modal">Save</button>
        </div>
    </form>
</div>
    <script>
        $(document).ready(function () {

            $("#CountryId").change(function () {
                $.get("/SaloonOwner/Clients/GetCities", { CountryId: $(this).val() },
                    function (data) {
                        $("#CityId").empty();
                        $.each(data, function (key, value) {
                            $("#CityId").append("<option value='" + value.cityId + "'>" + value.name + "</option>");
                        });
                    });
            });
        });

        $("#btnCreateClient").click(function (event) {
            event.preventDefault();

            var actionUrl = "/SaloonOwner/Clients/Create";
            var formData = $("#frmCreateClient").serialize();

            $.ajax({
                type: "POST",
                url: actionUrl,
                data: formData,
                success: function (data) {
                    $(".form-container").html(data);
                    $("#dataTable").load("/SaloonOwner/Clients/LoadDataTable");

                    setTimeout(function () {
                        location.reload();
                    }, 3000);
                },
                error: function (er) {
                    console.error(er);
                }
            });
        });

    </script>
