@model List<ClientsGetVM>
@inject IAjaxFlashMessage AjaxFlashMessage
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/SaloonOwner/Views/_Layout.cshtml";

}
<div class="row" id="dataDiv">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">
                        <button type="button" id="btnCreate" data-toggle="modal" data-target="#myModal" onclick="CreateClient()">
                            <span>Create  </span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel-body" id="dataBody">
                <table id="dataTable" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>City</th>
                            <th>Type</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>Option</th>
                            <th>Option</th>
                            <th>Option</th>
                        </tr>
                    </thead>
                    <tbody id="clientsData">
                        @foreach (var client in Model)
                        {
                            <tr>
                                <td>@client.FirstName @client.LastName</td>
                                <td>@client.CityName</td>
                                <td>@client.TypeOfClient</td>
                                <td>@client.Address</td>
                                <td>@client.Phone</td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myModal" onclick="UpdateClient(@client.ClientId)">
                                        Edit
                                    </button>
                                </td>
                                <td><button class="btn btn-sm btn-success" data-toggle="modal" data-target="#myModal" onclick="RemoveClient(@client.ClientId)">Remove</button></td>
                                <td><a asp-action="Details" asp-controller="Clients" asp-route-id="@client.ClientId" class="btn btn-sm btn-success">See details</a></td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

@section scripts{

    <script>
        $(document).ready(function () {
            $('#dataTable').DataTable();
              
        });

        var RemoveClient = function (id) {
            $(".modal-body").load("/SaloonOwner/Clients/Delete/" + id, function () {
                $("#myModal").show();
            });
        }
        var CreateClient = function () {
            $(".modal-body").load("/SaloonOwner/Clients/Create", function () {
                $("#myModal").show();
            });
        }
        var UpdateClient = function (id) {
            $(".modal-body").load("/SaloonOwner/Clients/Update/" + id, function () {
                $("#myModal").show();
            });
        }

    </script>
}




